body {
    font-family: sans-serif;
    line-height: 1.5;
}

header {
    display: flex;
    padding: 10px;
}

.nav {
    display: flex;
}

* + .nav {
    margin-left: 40px;
}

.nav > li + li {
  margin-left: 10px;
}

main {
    padding: 10px;
}

.container {
    margin-top: 50px;
}

.hello {
    font-size: 40px;
    color: grey;
    font-weight: 600;
    text-align: center;
}

/* tables */
.table-striped td {
    padding: 8px;
    border-top: 1px solid #dee2e6;
}

.table-striped tbody > tr:last-child td {
    border-bottom: 1px solid #dee2e6;
}

.table-striped tbody > tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}


/* forms */

form + * {
    margin-top: 20px;
}